<div class="max-w-md mx-auto mt-10">
  <h1 class="text-2xl font-bold mb-6">Forgot Password</h1>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div>
      <label class="label">Email</label>
      <input type="email" formControlName="email" class="input input-bordered w-full" />
    </div>

    @if (statusMessage()) {
      <p [class.text-error]="isError()" [class.text-success]="!isError()">
        {{ statusMessage() }}
      </p>
    }

   <button type="submit"class="btn btn-primary" [disabled]="forgotPasswordForm.invalid || isLoading()">
    @if (isLoading()) {
      <span class="loading loading-spinner"></span> Sending email for reseting password...
    } @else {
      Send Reset Link
    }
   </button>
  </form>
</div>
